            /*================================================================================
font import
================================================================================*/

        @font-face {
            font-family: 'lemon';
            src: url('/fonts/Lemon-Regular.ttf');
        }

        @font-face {
            font-family: 'titan one';
            src: url('/fonts/TitanOne-Regular.ttf');
        }

        @font-face {
            font-family: 'bowlbyone';
            src: url('/fonts/BowlbyOne-Regular.ttf');
        }
        /*================================================================================
font import
================================================================================*/
        /*================================================================================
Navbar CSS
================================================================================*/

        #navBackground {
            background-color: black;
        }

        #navbarTitle {
            font-style: italic;
            font-size: 30px;
            color: #F123B3;
            border-bottom: 2px solid #10EE2E;
            padding-left: 0px;
            padding-right: 50px;
            margin-left: 25%;
        }

        .navbar-inverse .navbar-nav {
            margin-right: 10%;
        }

        .navbar-inverse .navbar-nav>li>a {
            color: #10EE2E;
            font-size: 18px;
        }
        /*================================================================================
Navbar CSS
================================================================================*/
        /*================================================================================
body CSS
================================================================================*/

        body {
            background-color: black;
            font-family: 'lemon';
            font-weight: bold;
        }

        #GifSearch {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-left: 20vw;
            position: fixed;
        }

        #GifMain {
            width: 45vw;
            max-height: 600px;
        }

        #to-copy {
            font-size: 12px;
            width: 250px;
            border-radius: 5px;
            border: black;
            background-color: grey;
        }

        #btnCopy {
            border-radius: 20px;
            background-color: grey;
            color: #F123B3;
        }
        /*================================================================================
body CSS
================================================================================*/

        #btLike {
            margin-left: 4vw;
            margin-top: 9vw;
            height: 7vw;
            border-radius: 10vw;
        }

        #btDislike {
            margin-left: -7vw;
            margin-top: 8vw;
            height: 8vw;
            border-radius: 6vw;
        }

        #partGif {
            margin-top: 8vw;
        }

        #logHistory {
            font-size: 16px;
            margin: 10vw;
            border: 2px solid #10EE2E;
            margin-top: 6vw;
            line-height: 1.5vw;
            width: 34vw;
            padding: 3vw;
        }

        #btMail {
            line-height: 1vw;
        }

        #btPassword {
            line-height: 1vw;
            margin-left: 7vw;
        }

        #history {
            color: #F123B3;
            border-bottom: 1px solid #10EE2E;
            margin-left: 46%;
            font-family: 'lemon';
            font-size: 23px;
            font-weight: bold;
            padding-right: 3vw;
        }

        #colHistory {
            height: 8vw;
            border-bottom: 1px solid #10EE2E;
            margin-top: 3vw;
        }

        #left-box{
          height: 8vw;
          width: 12vw;
          float: left;
        }
        #left-box-history{
          float: right;
          margin: 2vw;
          font-size: 0.9vw;
          color: #F123B3;
          list-style-type: none;
        }

        #right-box{
          height: 8vw;
          width: 12vw;
          float: right;
        }
        #right-box-history{
          float: left;
          margin: 2vw;
          font-size: 0.9vw;
          color: #F123B3;
          list-style-type: none;

        }

        /*================================================================================
@media screen mobile
================================================================================*/
        /*@media  screen and (min-width: 320px) and (max-width: 991px){

  #navbarTitle {
    font-size: 20px;
    margin-left: 10px;
  }
}
/*================================================================================
@media screen mobile
================================================================================*/

        @media screen and (min-width: 992px) and (max-width: 1500px) {
            /*  #btDislike{
    margin-left: 5vw;
  }
  #btLike{
    margin-left: -10vw;
  }*/
