<form id="logHistory">
    <fieldset>

        <input type="email" placeholder="email" name="usermail"><button id="btMail" type="button" name="button">Change my mail</button><br>

        <input type="password" placeholder="Password" id="password" required>
        <input type="password" placeholder="Confirm Password" id="confirm_password" required>

        <button type="submit" class="pure-button pure-button-primary">Confirm</button>
    </fieldset>
</form>


<span id="history">My History*</span>

<div class="container">
    <div class="row">
        <div id="colHistory" class="col-xs-5">
            <div class="left-box">

            </div>
            <ul id="left-box-history">
                <li>x download</li>
                <li>ID Gif</li>
                <li>like date</li>
            </ul>
        </div>
        <div id="colHistory" class="col-xs-offset-2 col-xs-5">
            <div class="right-box">

            </div>
            <ul id="right-box-history">
                <li>x download</li>
                <li>ID Gif</li>
                <li>like date</li>
            </ul>

        </div>
    </div>
</div>
