<div class="container">

<form class="form-horizontal" action='' method="POST">

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Summit change</button>
      </div>
    </div>
  </fieldset>
</form>
</div>

<span id="history">My History*</span>

<div class="container">
    <div class="row">
        <div id="colHistory" class="col-xs-5">
            <div class="left-box">
              <img id="urlGif" src="http://media4.giphy.com/media/ofIjC9lylfWYU/giphy.gif">
            </div>
            <ul id="left-box-history">
                <li>x download</li>
                <li>ID Gif</li>
                <li>like date</li>
            </ul>
        </div>
        <div id="colHistory" class="col-xs-offset-2 col-xs-5">
            <div class="right-box">
              <img id="urlGif" src="http://media4.giphy.com/media/Rnt6wyeMbsQso/giphy.gif">
            </div>
            <ul id="right-box-history">
                <li>x download</li>
                <li>ID Gif</li>
                <li>like date</li>
            </ul>

        </div>
    </div>
</div>
