<!-- <ng-swipe-left
  ng-swipe-left="expression">
<img src="http://media4.giphy.com/media/jUtVNapy6j5xC/giphy.gif" alt="">
</ng-swipe-left> -->

<!-- <div ng-show="!showActions" ng-swipe-left="showActions = true">
    Some list content, like an email in the inbox
</div>
<div ng-show="showActions" ng-swipe-right="showActions = false">
    <button ng-click="reply()">Reply</button>
    <button ng-click="delete()">Delete</button>
</div>

<script src="/node_modules/angular-touch/angular.js"></script>
<script src="/node_modules/angular-touch/angular-touch.js"></script> -->
