<div class="container">
    <div class="row">
        <div class="col-xs-offset-10 col-xs-1">
            <a href="#">recherche<img src="" alt=""></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-2">
            <a href="#">dislike<img src="" alt=""></a>
        </div>
        <div class="col-xs-4">
            <img src="" alt="">
        </div>
        <div class="col-xs-2">
            <a href="#">like<img src="" alt=""></a>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <p>like/dislike</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <p>copie</p><input type="text" name="copy" value="">
      </div>

    </div>

</div>
