<div class="container black" >
    <div class="row">
        <div class="col-xs-offset-10 col-xs-1">
            <a href="#"><img id="GifSearch" src="https://media.giphy.com/media/reIVCrGs6pp28/giphy.gif" alt=""></a>
        </div>
    </div>

    <div class="row" id="partGif">
        <div class="col-xs-1">
            <a href="#" ng-click="addDislike()"><img id="btDislike" src="../img/gifDislike.gif"></a>
        </div>
        <div class="col-xs-6">
            <img src="{{lucky.data.image_url}}" alt="" id="GifMain">
        </div>
        <div class="col-xs-offset-2 col-xs-1">
            <a href="#" ng-click="addLike()"><img id="btLike" src="../img/gifLike.gif"></a>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-5 col-xs-4">
        <p>like/dislike</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-4 col-xs-8">
        <input type="text" id='to-copy' value="{{lucky.data.image_url}}">
        <button id="btnCopy" class="btn" ng-click='copy()'>Copy</button>
      </div>

    </div>

</div>
