<div class="container-fluid black">
    <div class="row">

        <div class="col-xs-offset-8 col-xs-1">
            <img ng-click='loupe()' id="GifSearch" src="https://media.giphy.com/media/reIVCrGs6pp28/giphy.gif" alt="">
        </div>
    </div>
    <div class="row" id="partGif">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-offset-0 col-xs-1 col-lg-offset-4 col-lg-1 ">
                    <a ng-click="addDislike()"><img id="btDislike" src="http://media4.giphy.com/media/snEoxV8grx3by/giphy-downsized.gif" /></a>
                </div>
            </div>
        </div>
        <div class=" col-xs-6 " align="center">
            <img src="{{lucky}}" alt="" id="GifMain">
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-offset-0 col-xs-1 col-lg-offset-1 col-lg-1">
                    <a ng-click="addLike()"><img id="btLike" src="https://media3.giphy.com/media/14cilFdQzr8hG0/100.gif" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6" align="center">
            <p>like/dislike</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6" align="center">
            <input type="text" id='to-copy' value="{{lucky}}">
            <button id="btnCopy" class="btn" ng-click='copy()'>Copy</button>
        </div>
    </div>
</div>
