


<div class="container">
    <div class="row">
        <div class="col-xs-6 colHistory" ng-repeat="gif in gifs | orderBy:'gif.date'">
            <div class="box">
              <img src="{{ gif.url }}" id="urlGif" >
            </div>
            <ul id="box-history">

                <!-- <li>{{ gif.class }}</li> -->
                <li>{{ gif.like }}/{{ gif.dislike }}</li>
                <li>
                    <input type="text" ng-model="gif.url" style="display:none">
                    <button clipboard supported="supported" text="gif.url" on-copied="success()" on-error="fail(err)">Copy</button>
                </li>
            </ul>
        </div>
    </div>
</div>
