


<div class="container">
    <div class="row">
        <div class="col-xs-6 colHistory" ng-repeat="gif in gifs | orderBy:'gif.date'">
            <div class="box">
              <img src="{{ gif.url }}" id="urlGif" >
            </div>
            <ul id="box-history">

                <!-- <li>{{ gif.class }}</li> -->
                <li>{{ gif.like }}/{{ gif.dislike }}</li>
                <li><input type="text" id='to-copy' value="{{gif.url}}"><button id="btnCopy" class="btn" ng-click='copy("{{gif.url}}")'>Copy</button></li>
            </ul>
        </div>
    </div>
</div>
